

svg{
	
	display:block;
    padding-left: 10px;
    /*background-color: red;*/
}

#container{
	width: 50%;
	margin: 0px auto;
}

.bar:nth-of-type(n) {
	fill: royalblue ;
    
}
.bar:nth-of-type(2n) {
	fill: orange;
    
}
.bar:nth-of-type(3n) {
	fill: green;
    
}
.bar:nth-of-type(4n) {
	fill: red;
    
}

.axisBottom line,
.axisBottom path{
	fill: none;
	
}

.axis line,
.axis path{
	fill: none;
    stroke: black;
    shape-rendering: crispEdges;	
}
